body {
background-color: #490000;
color: #fff;
}

.panel {
background: transparent;
}

.article {
  margin-left: 175px;
}

.nav {
  padding-top: 20px;
}

.navbar {
  padding: 0 20px;
  background-color: #241509;
}

.dates {
  background-color: white;
  color: black;
}

.showtimes {
  padding: 20px 0;
}

.marquee {
  display: none;
}

#tickets {
  background: transparent;
  width: 90%;
  margin: auto;
  border: 1px solid white;
  padding: 10px;
  margin-bottom: 20px;
}
#tickets ul {
  margin: 0;
  padding: 0;
  overflow: auto;
}

#tickets li  {
  list-style: none;
  float: left;
  width: 44%;
  background: #DA7E25;
  color: #fff;
  text-shadow: none;
  text-align: center;
  margin: 3%;
  padding: 5px;
  border-bottom: 5px solid #AE651E;
}

#tickets h4 {
  margin-top: 0;
  text-align: center;
}

.fakeButton {
  display: block;
  width: 30%;
  background: #DA7E25;
  color: #fff;
  text-shadow: none;
  text-align: center;
  margin: 3%;
  padding: 5px;
  border-bottom: 5px solid #AE651E;
}




}
